In [73]:
#import libraries
import urllib , json
import pandas as pd
import sqlite3
from sqlite3 import Error
import logging
import os
import pathlib
import glob

In [74]:
#all the companies for which we have to do a databse entry
company_name=['MSFT','ABB','AAL','AAPL','DELL']

In [75]:
#get the list of uRL's from where we have to fetch data 
def getURL(arr):
    urlList=[]
    for company in arr:
        url=f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED\
        &apikey=NQCFKOVGZASY3EZ9&symbol={company}"
        url = url.replace(" ","") #in case there is any space in URL 
        urlList.append(url)
    return urlList

In [76]:
#imports json from the Restapi 
def ImportJson(url):
    response =urllib.request.urlopen(url)
    data=json.loads(response.read()) #converts to python dict 
    return data

In [89]:
#we have used pathlib as it could easily be used in windows and linux  
db_path=pathlib.Path.cwd().joinpath('sqlite','db','consume.db')

In [78]:
def createConnection(db_path):
    conn=None
    try:
        conn=sqlite3.connect(db_path)
        return conn
    except Error as e:
        print(e)

In [79]:
#create table 
def CreateTable(conn,query):
    try:
        cursor=conn.cursor()
        cursor.execute(query)
    except Error as e:
        print(e)

In [12]:
#query for creating table and call function accordingly 
sql_query= """ CREATE TABLE IF NOT EXISTS shares (
                                company_name TEXT NOT NULL,
                                dates TEXT NOT NULL,
                                Open REAL , 
                                high  REAL ,
                                low  REAL ,
                                close  REAL ,
                                adjusted_close  REAL ,
                                volume REAL ,
                                dividend_amount  REAL ,
                                split_coefficient  REAL); """
conn=createConnection(db_path)
if conn:
    CreateTable(conn,sql_query)
    conn.commit()
else:
    print("Error! cannot create the database connection.")

In [80]:
conn=sqlite3.connect(db_path)

In [81]:
def CreateEntry(conn,company_name):
    urlList=getURL(company_name)
    cursor=conn.cursor()
    for i,url in enumerate(urlList):
        company=company_name[i]
        data=ImportJson(url)
        entries=[]
        for item in data['Time Series (Daily)'].items():
            cateogary=list(item)
            entries.append(cateogary)
        #initialize variables
        dates=0
        Open = 0
        high = 0
        low = 0
        close =0 
        adjusted_close =0 
        volume=0
        dividend_amount = 0
        split_coefficient=0
        
        #insert data rows into shares
        for date, d in entries:
            dates=date
            Open=d['1. open']
            high=d['2. high']
            low=d['3. low']
            close=d['4. close']
            adjusted_closed=d['5. adjusted close']
            volume=d['6. volume']
            dividend_amount=d['7. dividend amount']
            split_coefficient=d['8. split coefficient']

            cursor.execute("INSERT INTO shares VALUES (?,?,?,?,?,?,?,?,?,?)",(company,dates,Open,high,low,
                                                                              close,adjusted_close,volume,
                                                                              dividend_amount,split_coefficient))

    conn.commit()

In [20]:
#create the entries for 
CreateEntry(conn,company_name)

In [82]:
company='"ABB"'#of your choice

### Fuctions described in Flask

In [86]:
def getfeatures(conn,company,filename):
    cursor=conn.cursor()
    labels=['Open','high','low','close']
    query="SELECT Open ,high , low , close FROM shares WHERE company_name = " + company
    df =pd.read_sql_query(query,conn)
    print(df.head(4))
    df.to_csv(filename+'.csv',columns=labels, index=False)
    result=cursor.execute(query)
    items=[dict(zip([key[0] for key in cursor.description], row)) for row in result]
    #dump the dictinary into python 
    with open(filename +".json", "w") as outfile: 
        json.dump(items, outfile,indent=4)
    print("The files have been saved to your current directory")

In [91]:
conn=sqlite3.connect(db_path)
cursor=conn.cursor()
company='"ABB"'    
query="SELECT Open ,high , low , close FROM shares WHERE company_name = " + company
print(cursor.execute(query).fetchall())

[(34.6, 34.64, 34.45, 34.49), (33.79, 34.3677, 33.72, 34.3), (34.0, 34.085, 33.7, 33.7), (33.65, 33.95, 33.53, 33.84), (33.36, 33.78, 33.3, 33.74), (33.07, 33.15, 32.8, 32.81), (33.68, 33.78, 33.2, 33.45), (34.64, 34.65, 33.95, 34.06), (34.78, 34.915, 34.735, 34.82), (34.54, 34.63, 34.385, 34.63), (34.6, 34.65, 34.45, 34.55), (34.61, 34.735, 34.55, 34.63), (34.86, 34.87, 34.67, 34.73), (35.11, 35.13, 34.89, 35.03), (35.28, 35.28, 35.04, 35.17), (35.0, 35.135, 34.91, 35.1), (34.6, 34.73, 34.4, 34.63), (34.73, 34.92, 34.65, 34.78), (34.84, 34.87, 34.665, 34.71), (34.07, 34.25, 34.04, 34.14), (33.93, 34.2, 33.92, 34.16), (33.61, 33.82, 33.58, 33.77), (33.83, 33.945, 33.6249, 33.67), (33.54, 33.83, 33.5, 33.75), (33.6, 33.73, 33.45, 33.65), (33.14, 33.4, 33.11, 33.33), (32.81, 33.105, 32.575, 32.94), (34.16, 34.17, 33.83, 33.84), (33.86, 33.9653, 33.683, 33.83), (33.85, 34.32, 33.785, 34.22), (32.74, 33.37, 32.73, 33.26), (33.02, 33.175, 32.511, 32.57), (33.1, 33.42, 32.97, 33.38), (33.86, 33.88, 33.5, 33.51), (33.87, 34.175, 33.73, 34.11), (33.62, 33.78, 33.43, 33.77), (33.46, 33.69, 33.28, 33.51), (32.46, 32.66, 32.295, 32.66), (32.85, 32.9681, 32.81, 32.89), (32.71, 32.85, 32.405, 32.43), (33.37, 33.4, 32.94, 33.24), (33.21, 33.41, 33.175, 33.29), (33.12, 33.19, 32.93, 33.06), (32.65, 32.77, 32.59, 32.75), (32.46, 32.85, 32.435, 32.77), (32.54, 32.56, 32.245, 32.32), (32.28, 32.75, 32.19, 32.74), (32.97, 33.015, 32.455, 32.59), (33.43, 33.44, 33.07, 33.24), (33.27, 33.48, 33.15, 33.38), (32.71, 32.95, 32.59, 32.93), (31.67, 31.8, 31.56, 31.59), (31.57, 31.74, 31.42, 31.7), (31.71, 31.8171, 31.65, 31.77), (31.78, 32.095, 31.77, 32.08), (31.58, 31.6, 31.4, 31.58), (31.31, 31.36, 31.0839, 31.21), (31.24, 31.42, 31.14, 31.16), (30.91, 31.52, 30.74, 31.32), (30.49, 30.71, 30.425, 30.66), (30.41, 30.57, 30.3031, 30.47), (30.09, 30.31, 30.07, 30.22), (30.29, 30.49, 30.19, 30.32), (31.18, 31.59, 31.13, 31.59), (30.68, 31.105, 30.35, 31.08), (30.99, 31.11, 30.825, 30.85), (31.52, 31.66, 31.03, 31.03), (31.41, 31.75, 31.38, 31.56), (30.88, 31.455, 30.74, 31.36), (31.11, 31.3, 30.835, 30.85), (30.73, 31.04, 30.615, 31.02), (31.05, 31.08, 30.84, 30.92), (30.73, 31.165, 30.53, 31.1), (30.53, 30.79, 30.51, 30.79), (30.83, 31.14, 30.735, 30.89), (30.55, 30.765, 30.38, 30.72), (30.19, 30.5999, 30.11, 30.44), (29.93, 30.37, 29.87, 30.0), (29.43, 29.775, 28.93, 29.7), (29.71, 29.785, 28.66, 29.17), (29.62, 29.745, 29.37, 29.42), (29.82, 29.89, 29.54, 29.77), (29.25, 29.5, 29.23, 29.28), (29.1, 29.11, 28.72, 28.78), (29.73, 29.85, 29.18, 29.28), (29.37, 29.75, 29.22, 29.72), (29.01, 29.3, 28.615, 29.29), (29.92, 30.11, 29.77, 29.78), (29.9, 30.34, 29.87, 30.14), (29.51, 29.77, 29.38, 29.68), (29.52, 29.6, 29.19, 29.37), (29.71, 30.02, 29.69, 29.74), (29.27, 29.55, 29.23, 29.52), (29.31, 29.405, 29.02, 29.26), (29.33, 29.38, 28.99, 29.18), (29.22, 29.42, 29.18, 29.34), (29.32, 29.385, 28.9, 29.08), (28.9, 28.99, 28.7, 28.82), (29.11, 29.13, 28.755, 29.02), (30.46, 30.64, 30.385, 30.56)]

In [92]:
company='"ABB"'

In [95]:
def getfeatures(company):
    # global conn ,cursor
    conn=sqlite3.connect(db_path)
    cursor=conn.cursor()
    query="SELECT Open ,high , low , close FROM shares WHERE company_name = " + company
    print("DATABE PATH BELOW")
    print(db_path)
    print("! In am inside the function get feaure")
    print(cursor.execute(query).fetchall())
    df =pd.read_sql_query(query,conn)
    print(df.head(4))
    labels=['Open','high','low','close']
    df.to_csv('feature.csv',columns=labels, index=False)
    result=cursor.execute(query)
    items=[dict(zip([key[0] for key in cursor.description], row)) for row in result]
    #dump the dictinary into python 
    with open('feature.json', "w") as outfile: 
        json.dump(items, outfile,indent=4)
    return "The files have been saved to your current directory"
getfeatures(company)

DATABE PATH BELOW
/home/sakshamgupta/assignment/stock_data_skasham/sqlite/db/consume.db
! In am inside the function get feaure
[(34.6, 34.64, 34.45, 34.49), (33.79, 34.3677, 33.72, 34.3), (34.0, 34.085, 33.7, 33.7), (33.65, 33.95, 33.53, 33.84), (33.36, 33.78, 33.3, 33.74), (33.07, 33.15, 32.8, 32.81), (33.68, 33.78, 33.2, 33.45), (34.64, 34.65, 33.95, 34.06), (34.78, 34.915, 34.735, 34.82), (34.54, 34.63, 34.385, 34.63), (34.6, 34.65, 34.45, 34.55), (34.61, 34.735, 34.55, 34.63), (34.86, 34.87, 34.67, 34.73), (35.11, 35.13, 34.89, 35.03), (35.28, 35.28, 35.04, 35.17), (35.0, 35.135, 34.91, 35.1), (34.6, 34.73, 34.4, 34.63), (34.73, 34.92, 34.65, 34.78), (34.84, 34.87, 34.665, 34.71), (34.07, 34.25, 34.04, 34.14), (33.93, 34.2, 33.92, 34.16), (33.61, 33.82, 33.58, 33.77), (33.83, 33.945, 33.6249, 33.67), (33.54, 33.83, 33.5, 33.75), (33.6, 33.73, 33.45, 33.65), (33.14, 33.4, 33.11, 33.33), (32.81, 33.105, 32.575, 32.94), (34.16, 34.17, 33.83, 33.84), (33.86, 33.9653, 33.683, 33.83), (33.85, 34.32, 33.785, 34.22), (32.74, 33.37, 32.73, 33.26), (33.02, 33.175, 32.511, 32.57), (33.1, 33.42, 32.97, 33.38), (33.86, 33.88, 33.5, 33.51), (33.87, 34.175, 33.73, 34.11), (33.62, 33.78, 33.43, 33.77), (33.46, 33.69, 33.28, 33.51), (32.46, 32.66, 32.295, 32.66), (32.85, 32.9681, 32.81, 32.89), (32.71, 32.85, 32.405, 32.43), (33.37, 33.4, 32.94, 33.24), (33.21, 33.41, 33.175, 33.29), (33.12, 33.19, 32.93, 33.06), (32.65, 32.77, 32.59, 32.75), (32.46, 32.85, 32.435, 32.77), (32.54, 32.56, 32.245, 32.32), (32.28, 32.75, 32.19, 32.74), (32.97, 33.015, 32.455, 32.59), (33.43, 33.44, 33.07, 33.24), (33.27, 33.48, 33.15, 33.38), (32.71, 32.95, 32.59, 32.93), (31.67, 31.8, 31.56, 31.59), (31.57, 31.74, 31.42, 31.7), (31.71, 31.8171, 31.65, 31.77), (31.78, 32.095, 31.77, 32.08), (31.58, 31.6, 31.4, 31.58), (31.31, 31.36, 31.0839, 31.21), (31.24, 31.42, 31.14, 31.16), (30.91, 31.52, 30.74, 31.32), (30.49, 30.71, 30.425, 30.66), (30.41, 30.57, 30.3031, 30.47), (30.09, 30.31, 30.07, 30.22), (30.29, 30.49, 30.19, 30.32), (31.18, 31.59, 31.13, 31.59), (30.68, 31.105, 30.35, 31.08), (30.99, 31.11, 30.825, 30.85), (31.52, 31.66, 31.03, 31.03), (31.41, 31.75, 31.38, 31.56), (30.88, 31.455, 30.74, 31.36), (31.11, 31.3, 30.835, 30.85), (30.73, 31.04, 30.615, 31.02), (31.05, 31.08, 30.84, 30.92), (30.73, 31.165, 30.53, 31.1), (30.53, 30.79, 30.51, 30.79), (30.83, 31.14, 30.735, 30.89), (30.55, 30.765, 30.38, 30.72), (30.19, 30.5999, 30.11, 30.44), (29.93, 30.37, 29.87, 30.0), (29.43, 29.775, 28.93, 29.7), (29.71, 29.785, 28.66, 29.17), (29.62, 29.745, 29.37, 29.42), (29.82, 29.89, 29.54, 29.77), (29.25, 29.5, 29.23, 29.28), (29.1, 29.11, 28.72, 28.78), (29.73, 29.85, 29.18, 29.28), (29.37, 29.75, 29.22, 29.72), (29.01, 29.3, 28.615, 29.29), (29.92, 30.11, 29.77, 29.78), (29.9, 30.34, 29.87, 30.14), (29.51, 29.77, 29.38, 29.68), (29.52, 29.6, 29.19, 29.37), (29.71, 30.02, 29.69, 29.74), (29.27, 29.55, 29.23, 29.52), (29.31, 29.405, 29.02, 29.26), (29.33, 29.38, 28.99, 29.18), (29.22, 29.42, 29.18, 29.34), (29.32, 29.385, 28.9, 29.08), (28.9, 28.99, 28.7, 28.82), (29.11, 29.13, 28.755, 29.02), (30.46, 30.64, 30.385, 30.56)]
    Open     high    low  close
0  34.60  34.6400  34.45  34.49
1  33.79  34.3677  33.72  34.30
2  34.00  34.0850  33.70  33.70
3  33.65  33.9500  33.53  33.84

'The files have been saved to your current directory'

In [87]:
getfeatures(conn,company,'feature')

    Open     high    low  close
0  34.60  34.6400  34.45  34.49
1  33.79  34.3677  33.72  34.30
2  34.00  34.0850  33.70  33.70
3  33.65  33.9500  33.53  33.84
The files have been saved to your current directory

In [58]:
def getDifference(company,conn):
    query="SELECT dates , close-Open AS 'DIFFERENCE' FROM shares WHERE company_name=" + company
    df=pd.read_sql_query(query,conn)
    return df.head(5)

In [59]:
getDifference(company,conn)

        dates  DIFFERENCE
0  2021-06-25       -0.11
1  2021-06-24        0.51
2  2021-06-23       -0.30
3  2021-06-22        0.19
4  2021-06-21        0.38

In [60]:
def getAverage(conn):
    query="SELECT dates ,avg(close-Open) AS 'AVG' FROM shares GROUP BY dates"
    df=pd.read_sql_query(query,conn)
    return df.head(5)
getAverage(conn)

        dates    AVG
0  2021-02-03  0.740
1  2021-02-04  0.283
2  2021-02-05 -0.200
3  2021-02-08  0.070
4  2021-02-09  0.281

In [62]:
def MaximumCount(conn,company):
    cursor=conn.cursor()
    query="SELECT Open , close FROM shares WHERE company_name=" + company
    res=cursor.execute(query)
    temp=[dict(zip([key[0] for key in cursor.description],row) for row in res)]
    return getMax(temp)

In [63]:
def getMax(temp):
    Max=0
    currMax=0
    for key in temp:
        for op,cl in key.items():
            if op[1]>cl[1]:
                Max=max(Max,currMax)
                currMax=0
            else:
                currMax+=1
    return f"The number of continuous records having a positive diff are {Max}"

In [64]:
MaximumCount(conn,company)

'The number of continuous records are 7'